@media only screen and (min-width: 768px) {
  iframe {
    max-width: 480px;
  }

  #mango-photos .grid-container {
    display: flex;
    gap: 16px;
  }

  #mango-photos .grid-container > div {
    width: 25%;
  }

  #mango-photos .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}